body {
    padding: 0px;
    margin: 0;
}

#left-part {
    float: left;
    width: 30%;
    background-color: #114a54;
    height: 600px;
}

.divider {
    width: 1px;
    background-color: #2C2C2C;
    float: left;
    height: 600px;
}

#right-part {
    width: 60%;
}

.device-img-container {
    width: 38px;
    height: 38px;
    float: left;
}

.active {
    background-color:  #b42308;
}

.device-img {
    width: 28px;
    height: 28px;
}

.device-name {
    padding-top: 4px;
    padding-left: 6px;
    color: #ffffff;
}

.device-item {
    height: 42px;
    padding: 23px 8px 13px 8px;
}

