body {
    padding: 0;
    margin: 0;
}

#left-part {
    width: 30%;
    background-color: #114a54;
    height: 600px;
    float: left;
}

#right-part {
    height: 600px;
    width: 70%;
    float: left;
}

.divider {
    width: 1px;
    background-color: #2C2C2C;
    height: 200px;
    display: inline-block;
}


.device-img-container {
    width: 38px;
    height: 38px;
    float: left;
}

.active {
    background-color: #b42308;
}

.device-img {
    width: 28px;
    height: 28px;
}

.device-name {
    padding-top: 4px;
    padding-left: 6px;
    color: #ffffff;
    float: left;
}

.device-item {
    height: 42px;
    padding: 23px 8px 13px 8px;
}

#drop-area {
    width: 300px;
    height: 300px;
    border: 18px dashed #ccc;
    margin: 40px auto auto auto;
}

#drop-area:hover {
    border-color: green;
}

#drop-area-label {
    display: block;
    color: #555555;
    font: 2em bold;
    text-align: center;
    line-height: 300px;
}
